<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Energyconsumption</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://unpkg.com/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">EnergyCInc</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <%= link_to "Home", home_path, class: "p-2 text-dark" %>
        <%= link_to "About", about_path, class: "p-2 text-dark" %>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
